<a routerLink="/products/create">tao san pham</a>
<h1>danh sach san pham</h1>
<table>
  <tr>
    <td>stt</td>
    <td>ten san pham</td>
    <td>gia san pham</td>
    <td>mo ta san pham</td>
    <td>loai san pham</td>
    <td>anh san pham</td>
    <td colspan="2">tuy chon</td>
  </tr>
  <tr *ngFor="let product of products, index as i">
    <td>{{i+1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.category?.name}}</td>
    <td><img [src]="product.image" style="width: 100px; height: auto; border-radius: 50%"></td>
    <td><button routerLink="/products/edit/{{product.id}}" >edit</button></td>
    <td><button routerLink="/products/delete/{{product.id}}" >delete</button></td>
  </tr>
</table>
<div>
  <button (click)="first()" [hidden]="currentPagination == 1">first</button><span><button [hidden]="currentPagination == 1" (click)="previous()">previous</button></span><span><input type="text" [value]="currentPagination" disabled></span>
  <span><input type="text" [value]="totalPagination" disabled></span><span> <button [hidden]="currentPagination == totalPagination" (click)="next()">next</button><span><button [hidden]="currentPagination == totalPagination" (click)="last()">last</button></span></span>
</div>


