<a routerLink="/products">danh sach san pham</a>
<h1>chinh sua san pham</h1>
<form [formGroup]="productForm" (ngSubmit)="editProduct()">
  <div>
    <label for="id">id san pham</label><br>
    <input type="number" id="id" name="name" formControlName="id" disabled>
    <p style="color: red" [hidden]="idControl.valid || !idControl.touched">id is required</p>
  </div>
  <div>
    <label for="name">ten san pham</label><br>
    <input type="text" id="name" name="name" formControlName="name">
    <div [hidden]="nameControl.valid || !nameControl.touched">
      <div style="color: red" *ngIf="nameControl.errors?.required">name is required</div>
      <div style="color: red" *ngIf="nameControl.errors?.minlength">minlength is 6</div>
      <div style="color: red" *ngIf="nameControl.errors?.maxlength">maxlength is 12</div>
    </div>
  </div>
  <div>
    <label for="price">gia san pham</label><br>
    <input type="number" id="price" name="price" formControlName="price">
    <p style="color: red" [hidden]="priceControl.valid || !priceControl.touched">price is required</p>

  </div>
  <div>
    <label for="description">mo ta san pham</label><br>
    <input type="text" id="description" name="description" formControlName="description">
    <p style="color: red" [hidden]="descriptionControl.valid || !descriptionControl.touched">description is required</p>
  </div>
  <div>
    <label for="category">loai san pham</label><br>
    <select formControlName="categoryId" id="category">
      <option *ngFor="let category of categories" [value]="category.id">
        {{category.name}}
      </option>
    </select>

  </div>
  <button>sua doi</button>
</form>
